---
layout: default
title: Sergey Maskalik's Blog
meta-description: Sergey Maskalik's Blog about programming and technologies.
meta-keywords: .net, c#, asp.net, mvc, developer, programming, blog
sitemap:
  priority: 1
  changefreq: daily
---

{% for post in paginator.posts %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title}}</a></h2>
        <span class="post-date">{% include post/date.html %}{{ time }}</span>
    </header>
    <section class="post-content">
        {{ post.content }}
    </section>
    <div class="post-meta">
      {% include post/tags.html %}
      {% include post/comments_link.html %}
      {% include post/edit.html %}
    </div>
</article>

{% endfor %}


<!-- Pagination links -->
<nav class="pagenavi">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1%}
      <a href="/" class="previous">Previous</a>
    {% else %}
      <a href="/{{ paginator.previous_page }}" class="previous">Previous</a>
    {% endif %}
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</nav>