---
layout: default
title: Tags
---
<!-- categories -->	

<h1>Tagged posts:</h1>

{% for tag in site.tags %}
<div class="box">
	<h2>{{ tag | first }}<a name="{{ tag | first | cgi_escape }}"></a></h2>
	<ul class="postList">	
	{% for posts in tag %}
      {% for post in posts %}
      	{% if post.title %}
			<li class="nested">
				<a href="{{ post.url }}" title="{{ post.excerpt }}">{{ post.title }} 
					<span>{{ post.date | date: '%d.%m.%y' }}</span>
				</a>
			</li>
		{% endif %}						
	{% endfor %}{% endfor %}
	</ul>
</div>
{% endfor %}
	


