---
layout: page
title: Tagged posts
sitemap:
  priority: 1
  changefreq: daily
---

{% for tag in site.tags %}
<div id="{{ tag | first | cgi_escape }}" class="box">
	<h2>{{ tag | first }}<a name="{{ tag | first | cgi_escape }}"></a></h2>
	<ul class="postList">	
	{% for posts in tag %}
      {% for post in posts %}
      	{% if post.title %}
			<li class="nested">
				<a href="{{ post.url }}">{{ post.title }} 
					<span>{{ post.date | date: '%d.%m.%y' }}</span>
				</a>
			</li>
		{% endif %}						
	{% endfor %}{% endfor %}
	</ul>
</div>
{% endfor %}
	
<script type="text/javascript">
	var hash = window.location.hash.substring(1);
	if(hash) {
		highlightTag(hash);
	}

	function highlightTag(tag) {
		var element = document.getElementById(tag);
		if(element) {
			element.style.backgroundColor = "#eeeeee";
		}
		
	}
</script>

